##  Column by column transform values to numeric
#### Open csv file, display values of 'Kitchen type' column

In [114]:
import pandas as pd
import numpy as np

with open('/home/becode/Downloads/page_1.csv') as f:
    new_dict = pd.read_csv('/home/becode/Downloads/page_1.csv')
new_dict[['Kitchen type']].value_counts()

Kitchen type
Not installed         4161
Installed             3265
Hyper equipped        1056
Sei equipped           712
USA hyper equipped     592
USA installed          263
USA sei equipped        73
USA uninstalled          5
dtype: int64

In [115]:
# transform data via LabelEncoder
from sklearn.preprocessing import LabelEncoder
new_dict['Locality'] = LabelEncoder().fit_transform(new_dict['Locality'])
new_dict[['Locality']]

       Locality
0           252
1           181
2           179
3           181
4           181
...         ...
10122       252
10123        20
10124       252
10125       297
10126        29

[10127 rows x 1 columns]

In [116]:
# encode binary values of multiple columns
from sklearn import preprocessing
lb = preprocessing.LabelBinarizer()
binary_cols_to_encode = ['Furnished','Terrace', 'Garden']
for var in binary_cols_to_encode:
    new_dict[var] = lb.fit_transform(new_dict[var])
print(new_dict[['Furnished','Terrace', 'Garden']].head())

   Furnished  Terrace  Garden
0          0        1       0
1          1        1       0
2          0        0       0
3          0        0       0
4          1        1       0

In [117]:
# use LabelEncoder for multiple columns
encoding_pipeline =  LabelEncoder()
cols_to_encode = ['Subtype','Type of sale']
for x in cols_to_encode:
     new_dict[x] = encoding_pipeline.fit_transform(new_dict[x])
print(new_dict.head())

         ID  Locality      Price  Bedrooms  Living area        Kitchen type  \
0  10166459       252   275000.0       2.0         67.0       Not installed
1  10096893       181  3195000.0       3.0        140.0  USA hyper equipped
2  10292307       179   595000.0       2.0         94.0       Not installed
3  10111765       181  1850000.0       3.0        125.0       Not installed
4  10124022       181   325000.0       2.0         66.0      Hyper equipped

   Furnished  How many fireplaces?  Terrace  Terrace surface  Garden  \
0          0                   0.0        1             13.0       0
1          1                   0.0        1              0.0       0
2          0                   0.0        0              0.0       0
3          0                   0.0        0              0.0       0
4          1                   0.0        1              0.0       0

   Garden surface  Surface of the plot  Number of frontages  \
0             0.0                 67.0                  0.0
1             0.0                140.0                  2.0
2             0.0                 94.0                  0.0
3             0.0                125.0                  0.0
4             0.0                 66.0                  2.0

  Building condition       Type  Subtype  Type of sale
0         To restore  apartment        0             3
1             As new  apartment        0             3
2         To restore  apartment        0             3
3     Just renovated  apartment        0             3
4     Just renovated  apartment        0             3

### Encode column 'Type' by defining a dictionary of key, value pairs

In [118]:
new_dict['Type'] = new_dict['Type'].map(dict(apartment=1, house=0))
new_dict.head()

,ID,Locality,Price,Bedrooms,Living area,Kitchen type,Furnished,How many fireplaces?,Terrace,Terrace surface,Garden,Garden surface,Surface of the plot,Number of frontages,Building condition,Type,Subtype,Type of sale
0,10166459,252,275000.0,2.0,67.0,Not installed,0,0.0,1,13.0,0,0.0,67.0,0.0,To restore,1,0,3
1,10096893,181,3195000.0,3.0,140.0,USA hyper equipped,1,0.0,1,0.0,0,0.0,140.0,2.0,As new,1,0,3
2,10292307,179,595000.0,2.0,94.0,Not installed,0,0.0,0,0.0,0,0.0,94.0,0.0,To restore,1,0,3
3,10111765,181,1850000.0,3.0,125.0,Not installed,0,0.0,0,0.0,0,0.0,125.0,0.0,Just renovated,1,0,3
4,10124022,181,325000.0,2.0,66.0,Hyper equipped,1,0.0,1,0.0,0,0.0,66.0,2.0,Just renovated,1,0,3

In [119]:
# transform data via created map dictionary
new_dict['Kitchen type'] = new_dict['Kitchen type'].map( {'Not installed':0, 'Installed':1, 'Hyper equipped':2, 
                                                                'Sei equipped':3, 'USA hyper equipped':4, 'USA installed':5, 'USA sei equipped':6, 'USA uninstalled':7 })
new_dict[['Kitchen type']].value_counts()

Kitchen type
0               4161
1               3265
2               1056
3                712
4                592
5                263
6                 73
7                  5
dtype: int64

In [120]:
# create dictionary from distinct column values
labels = new_dict['Building condition'].astype('category').cat.categories.tolist()
replace_map_comp = {'Building condition' : {k: v for k,v in zip(labels,list(range(1,len(labels)+1)))}}
print(replace_map_comp)

{'Building condition': {'As new': 1, 'Good': 2, 'Just renovated': 3, 'To be done up': 4, 'To renovate': 5, 'To restore': 6}}

In [121]:
# replace column values with values from the newly created map
new_dict.replace(replace_map_comp, inplace=True)
print(new_dict[["ID",'Building condition']].head())

         ID  Building condition
0  10166459                   6
1  10096893                   1
2  10292307                   6
3  10111765                   3
4  10124022                   3

### Check if now all values of the Data Frame are numeric

In [125]:
print(new_dict.head())

         ID  Locality      Price  Bedrooms  Living area  Kitchen type  \
0  10166459       252   275000.0       2.0         67.0             0
1  10096893       181  3195000.0       3.0        140.0             4
2  10292307       179   595000.0       2.0         94.0             0
3  10111765       181  1850000.0       3.0        125.0             0
4  10124022       181   325000.0       2.0         66.0             2

   Furnished  How many fireplaces?  Terrace  Terrace surface  Garden  \
0          0                   0.0        1             13.0       0
1          1                   0.0        1              0.0       0
2          0                   0.0        0              0.0       0
3          0                   0.0        0              0.0       0
4          1                   0.0        1              0.0       0

   Garden surface  Surface of the plot  Number of frontages  \
0             0.0                 67.0                  0.0
1             0.0                140.0                  2.0
2             0.0                 94.0                  0.0
3             0.0                125.0                  0.0
4             0.0                 66.0                  2.0

   Building condition  Type  Subtype  Type of sale
0                   6     1        0             3
1                   1     1        0             3
2                   6     1        0             3
3                   3     1        0             3
4                   3     1        0             3

### Save data to text csv file

In [126]:
with open('/home/becode/Downloads/page_3.csv','w') as f:
    new_dict.to_csv('/home/becode/Downloads/page_3.csv', index=False)