In [11]:
import pandas as pd
import numpy as np
with open('/home/becode/Downloads/page_4.csv') as f:
    us= pd.read_csv('/home/becode/Downloads/page_4.csv', index_col='ID')
#us.reset_index(inplace=True)
us['Bedrooms'] = pd.to_numeric(us['Bedrooms'])
us['PricePr'] = pd.to_numeric(us['PricePr'], errors='coerce')
us['Living area'] = pd.to_numeric(us['Living area'], errors='coerce')
us['Surface of the plot'] = pd.to_numeric(us['Surface of the plot'], errors='coerce')
us['Garden surface'] = pd.to_numeric(us['Garden surface'], errors='coerce')
us['Terrace surface'] = pd.to_numeric(us['Terrace surface'], errors='coerce')

How many rows and columns?

In [12]:
# there are 10127 rows and 19 columns in the dataset
print(us.shape)

(10127, 19)

What is the correlation between the variables and the price? (Why might that be?)
Which variables have the greatest influence on the price?

In [13]:
# as subset of only numeric values and only rows with all values
us.dropna(subset = ["PricePr", "Living area", "Bedrooms", 'Surface of the plot', 'Garden surface', 'Terrace surface'], axis=0, inplace = True)
frame = us[["PricePr", "Living area", "Bedrooms", 'Surface of the plot', 'Garden surface', 'Terrace surface']]
len(frame)
frame[frame.columns].apply(lambda x: x.corr(frame['PricePr']))

PricePr                1.000000
Living area            0.403401
Bedrooms               0.292853
Surface of the plot    0.005762
Garden surface         0.027404
Terrace surface        0.104030
dtype: float64

Biggest influence on the price give Living area, followed by Bedrooms, Terrace surface.

Which variables have the least influence on the price?
-- 'Garden surface' & 'Surface of the plot' is least correlated with the 'Price' variable

How are variables correlated to each other? (Why?)

In [14]:
frame.corr()

,PricePr,Living area,Bedrooms,Surface of the plot,Garden surface,Terrace surface
PricePr,1.000000,0.403401,0.292853,0.005762,0.027404,0.104030
Living area,0.403401,1.000000,0.436409,-0.032156,0.002317,0.198746
Bedrooms,0.292853,0.436409,1.000000,-0.015786,-0.009149,0.081546
Surface of the plot,0.005762,-0.032156,-0.015786,1.000000,0.994643,-0.029067
Garden surface,0.027404,0.002317,-0.009149,0.994643,1.000000,0.000300
Terrace surface,0.104030,0.198746,0.081546,-0.029067,0.000300,1.000000

How many qualitative and quantitative variables are there? How would you transform these values into numerical values?
- What is the percentage of missing values per column?

In [15]:
# shown are numeric variables
us.describe()

,PricePr,Bedrooms,Living area,How many fireplaces?,Terrace surface,Garden surface,Surface of the plot,Number of frontages,Swimming pool
count,5.310000e+02,531.000000,531.000000,30.000000,531.000000,531.000000,5.310000e+02,520.000000,0.0
mean,3.162545e+05,3.403013,182.318267,1.033333,28.853107,830.822976,5.089706e+03,2.707692,NaN
std,1.932585e+05,1.049488,88.162770,0.182574,25.098844,10468.112682,1.041341e+05,0.811252,NaN
min,4.000000e+04,1.000000,51.000000,1.000000,1.000000,1.000000,1.000000e+00,1.000000,NaN
25%,1.899000e+05,3.000000,130.000000,1.000000,15.000000,72.000000,1.895000e+02,2.000000,NaN
50%,2.850000e+05,3.000000,161.000000,1.000000,22.000000,150.000000,3.100000e+02,2.000000,NaN
75%,3.990000e+05,4.000000,208.000000,1.000000,35.000000,368.500000,5.810000e+02,3.000000,NaN
max,2.195000e+06,8.000000,1200.000000,2.000000,260.000000,240000.000000,2.400000e+06,4.000000,NaN

In [16]:

us.dtypes

Locality                 object
PricePr                 float64
Tenement building        object
Venue of the sale        object
Bedrooms                float64
Living area             float64
Kitchen type             object
Furnished                object
How many fireplaces?    float64
Terrace                  object
Terrace surface         float64
Garden                   object
Garden surface          float64
Surface of the plot     float64
Number of frontages     float64
Swimming pool           float64
Building condition       object
Type                     object
Subtype                  object
dtype: object

In [17]:
us['Kitchen type'].value_counts()

Installed             228
Sei equipped           65
Hyper equipped         63
Not installed          36
USA hyper equipped     28
USA installed          22
USA sei equipped        4
USA uninstalled         2
Name: Kitchen type, dtype: int64

In [18]:
us['Furnished'].value_counts()

No     402
Yes      9
Name: Furnished, dtype: int64

 10 variables are not numeric
 'YES' - 'NO' - 3 columns Terrace & Garden & Furnished - 0 for 'yes', 1 for 'no'
Type of sale (Exclusion of life sales)Venue of the sale	Tenement building - 2 columns are merged
code to be used for transforming of categorical values to numeric
#s = pd.Series(list('abca')) pd.get_dummies(s)
candidate columns: 'Kitchen type' 'Building condition'  'Type' 'SubType' 'Locality' 5 columns